{% extends 'NewsApp/base.html' %}

{% block content %}

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for link, image_link, title in news %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ image_link }}" alt = "news image" />
            <div class="card-body">
              <a href="{{ link }}" class="card-text"><h4 class="card-text">{{ title }}</h4></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

